
body{
	display: grid;
	grid-template-rows: 70px 1fr;
	margin: 0;
	padding: 0;
}
header{
	border-radius: 1px;
	border-style: none none outset none;
	border-color: black;
}
.container{
	justify-self: center;
	/* position:absolute; */
	bottom: 0;
	border-radius: 25px;
	border-style: inset inset outset inset;
	border-color: rgb(116, 116, 116);
	display: grid;
	padding: 25px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
	height: 320px;
	justify-self: center;
	justify-content: center;
}
.bodysect{
	
	display: grid;
	grid-template-rows: 1.5fr 1fr;

}
.bodysectchild{
	
	display: grid;
	
}
.bottomb{   
	
	grid-template-columns: 1fr 1fr 1fr;
}
.button{
	display: block;
	width: 100px;
	height: 100px;
	padding: 20px;
	font-size: 24px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 2px rbga(0,0,0,0.3);
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease-in-out;
}
.button:hover {
	background-color: #ddd;
	transform: scale(1.1);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.top {
	grid-row: 1;
	grid-column: 2;
}
.top-left {
	grid-row: 1;
	grid-column: 1;
}
.top-right {
	grid-row: 1;
	grid-column: 3;
}
.left {
	grid-row: 2;
	grid-column: 1;
}
.middle {
	grid-row: 2;
	grid-column: 2;
}
.right {
	grid-row: 2;
	grid-column: 3;
}
.bottom {
	grid-row: 3;
	grid-column: 2;
}
.bottom-left{
	grid-row: 3;
	grid-column: 1;
}
.bottom-right{
	grid-row: 3;
	grid-column: 3;
}
